<!DOCTYPE html>
<html>
<head>
    <title>Resultado del Envío</title>
</head>
<body>
    <h1>Resultado del Envío</h1>
    <p><%= message %></p>
    <a href="/">Volver al formulario</a>
</body>
</html>
